# Ignore macOS specific files
.DS_Store

# Ignore Python compiled files
*.pyc

# Ignore Python cache directories
__pycache__/

# Ignore environment files
.env

# Ignore virtual environment directories
venv/
env/

# Ignore Conda environment files
conda.yaml
environment.yml

# Ignore log files
*.log

# Ignore database files
*.db
*.sqlite

# Ignore temporary files
*.tmp
*.temp
logfile
/logfile
# Ignore configuration files

# Ignore specific directories
chroma_langchain_db/
gateway/.DS_Store
service_rag/app/config/__pycache__/
service_rag/app/document_operation/.DS_Store

# Ignore specific files
#requirements.txt

.idea/# 本地离线模型（不提交）
models/
*models
models/multi-qa-mpnet-base-cos-v1/
models/ms-marco-MiniLM-L6-v2/
*.bin
*.safetensors
.idea/
*.whl
wheels
wheels/*
.wheels
